body{
    background-color: bisque;
    
}
p{
    color: black;
    font-size: 15px;
    font-family: nobel;
    font-weight: normal;
    text-align: center;
}
h1{
    text-align: left;
    font-family: impact;
    
}